* {
    background-color: aquamarine;

    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
}

.container {
    width: 400px;
    height: 100vh;
    background-color: red;
    margin: 50px;
    padding: 10px;

    display: flex;
    flex-wrap: wrap;

    gap: 20px;

    justify-content: center;
    align-items: center;

    align-content: flex-start;

    align-content: space-evenly;
}

.caja {
    border: 1px solid red;
    width: 100px;
    height: 100px;
    display: flex;
}

/*#caja2 {
    font-size: 30px;
}*/

#caja1 {
    order: 4;
}

#caja3 {
    order: 1;
    flex-grow: 8;
}

#caja4 {
    order: 2;
    flex-grow: 0;
}
#caja5 {
    order: -1;
    flex-grow: 2;
}